{{> header}}
<br/>


<div class="col-md-12 ">
    <h2><b>Country Information</b></h2>
    <form action="search" method="post">
        <div class="input-group col-md-6">
            <input class="form-control" type="text" id="place" name="query" placeholder="Enter the Country that you want to search. Eg: Malaysia" required>
            <span class="input-group-btn">
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
                <br/>
             </span>
        </div>
    </form>
    <br/>
</div>


<div class="col-md-12">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Capital</th>
            <th>Region</th>
            <th>Population</th>
            <th>TimeZones</th>
            <th>Currency Name</th>
            <th>Currency Code</th>
            <th>Currency Symbol</th>
            <th>Country Flag</th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
        </tbody>
    </table>
</div>
<div style="margin-bottom: 31%;">
</div>
{{> footer}}