<!DOCTYPE html>
<html>
<body>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
</style>
</head>
<body>

<ul>
    <li><a class="active" href="index.hbs">Country Information System</a></li>
    <li><a href="#search">Search</a></li>
    <li><a href="#search">Delete</a></li>
</ul>


<div class="row container-fluid">
    <form action="/" method="post">
        <button class="btn btn-danger btn-lg btnCus" type="submit" formaction="/delete">Delete all records</button>
    </form>
    <br>

</body>
</html>