{{> header}}

<br/>
<header class="w3-display-container w3-content w3-wide "  id="home">
        <h1 class="w3-xxlarge" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align:center">A Single Website Link You and Me Together</h1>
        <br/>
  <img class="w3-image col-sm-12" src="https://careers.mondelezinternational.com/~/media/mondelezcareer/com2017/img/our-world/world-map-dark" alt="Hamburger Catering" width="1600" height="800">

</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" >
    <div class="w3-col m5 w3-padding-large w3-hide-small">
     <img src="https://bizimages.withfloats.com/actual/5cb6c5d1648ca700010cafed.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m7 w3-padding-large" id="about">
      <h1 class="w3-center">Country Information</h1><br>
      <h5 class="w3-center">Get the normal information about the Country</h5>
      <blockquote class="w3-large" style="text-align: justify;">Let you get <span class="w3-tag w3-light-grey">basic information</span> about the Country. 
      <p class="w3-large w3-text-grey w3-hide-medium">Search the Country that you want to know to get their Capital, Region, Population and Currency Code information.</blockquote>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l7 w3-padding-large">
      <h1 class="w3-center">Currency Exchange</h1><br>
      <h5 class="w3-center">Just few clicks to get the Currency rate that you want to know</h5>
      <blockquote class="w3-large" style="text-align: justify;">We give you the power of our most up to date, reputable currency information and offer you secure, reliable, easy to use products and services dedicated to making your life easier.</blockquote>

    </div>
    
    <div class="w3-col l5 w3-padding-large">
      <img src="https://www.clipartwiki.com/clipimg/detail/45-455943_currency-exchange-icon-currency-exchange-icon-png.png" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  
<!-- End page content -->
</div>
{{> footer}}