  </div>
  <!-- Footer -->

  <footer >
    <div class="col-md-12 w3-row-padding w3-padding-24" style="background-color:  rgba(112, 128, 144, 0.781);">
    <div class="w3-third">
      <h3><b>Connect with Us</b></h3>
      <br/>
        <i class="link1 fa fa-facebook-official w3-hover-opacity" ></i> &NonBreakingSpace;
        <i class="link1 fa fa-instagram w3-hover-opacity" ></i> &NonBreakingSpace;
        <i class="link1 fa fa-snapchat w3-hover-opacity"></i> &NonBreakingSpace;
        <i class="link1 fa fa-pinterest-p w3-hover-opacity"></i> &NonBreakingSpace;
        <i class="link1 fa fa-twitter w3-hover-opacity"></i> &NonBreakingSpace;
        <i class="link1 fa fa-linkedin w3-hover-opacity"></i> &NonBreakingSpace;
    </div>
  
    <div class="w3-third">
      <h3><b>Company Info</b></h3>
      <ul class="w3-ul w3-hoverable w3-large">
        <a class="link2" href="http://localhost:5000">
          <li class="w3-padding-2">
            Home
          </li>
        </a>
        <a class="link2" href="http://localhost:5000#about">
          <li class="w3-padding-2">
            About Us
          </li>
        </a>
      </ul>
    </div>

    <div class="w3-third ">
      <h3><b>Contact</b></h3>
      <ul class="w3-ul w3-hoverable w3-large">
          <li class="w3-padding-2">
            <a class="link2" href="mailto:goodies@gmail.com?Subject=User%20Feedback" target="_top">Goodies@gmail.com</a>
          </li>
        <li class="w3-padding-2">
          <span>Tel: 04-5933378</span>
        </li> 
      </ul>
    </div>
    </div>
  </footer>

<!-- End page content -->
</div>